<h2>ANSWER</h2>

<div >
  <p> <em>Your statement:</em> </p>
  <h3 class="question"> <%= params[:question] %> </h3>
</div>

<div >
  <p><em>Your coach's response:</em></p>
  <h3 class="answer"><%= @answers %></h3>
</div>
